<h1>Teams!</h1>

  <div>
    <table style="width: 50%; text-align:justify">
      <tr>
        <th>Name</th>
        <th>Rating</th>
      </tr>
      
      <% @teams.each do |team| %>
      <tr> 
        <td> <%= team.name.upcase %> </td>
        <td> <%= team.rating %> </td>
      </tr>
      <% end %>      
    </table>
  </div>
